@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto+Slab:wght@400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #12385a;
    /* Aplicação da fonte 'Roboto Slab' */
    font-family: 'Roboto Slab', serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #ffffff;
    width: 70%;
    max-width: 700px;
    padding: 60px 40px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    /* Opcional: Usar 'Alfa Slab One' para títulos grandes, se quiser destaque */
    /* font-family: 'Alfa Slab One', cursive; */
    font-size: 32px;
    margin-bottom: 10px;
}

.sub {
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 25px;
}

h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

.info {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.btn {
    margin-top: 25px;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    background: #173b60;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    opacity: 0.8;
}
.imagem-final {
    width: 140px;          
    height: auto;          
    display: block;        
    margin: -20px auto 20px auto;  
    border-radius: 10px;   
}